#createForm, #database, #updateForm, #deleteForm {
    display: none;
    padding-bottom: 25px;
}
#database th, #database tr, #database td {
    border: 1px solid black;
    padding: 5px;
}
#submit {
    background-color: blue;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bolder;
}
#updateForm #submit {
    background-color: red;
}
